#main {
    display:grid;
    grid-template-columns:6.5rem repeat(20,minmax(0,1fr)) 6.5rem;
    grid-template-rows:6.5rem 6.5rem minmax(0,1fr);
    gap:1.25rem;
    height:100dvh;
    margin:auto;
    padding:1.7rem 1.6rem 1.8rem;
    aspect-ratio:16/9;
    &>div { cursor:default }
    #cut:checked {
        ~#uwu3,~#uwu4 { display: block; }
        ~#uwu5 { display: none; }
    }
    #uwu1,#uwu3,.cobble>div,#uwu5,#uwu6>div,#uwu7 {
        background:var(--color-gradient-3);
        min-height:0;
        border:0.17rem solid var(--color-border-1);
        box-shadow:0.2rem 0.2rem 2rem var(--color-shadow-3),inset 0 0 4rem var(--color-shadow-4);
        &:not(:is(#uwu6>div)) { animation: scale-up-center 0.4s cubic-bezier(0.175, 0.885, 0.320, 1.275) both 1s; }
    }
}